<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/da7bd64aa2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        
        <div class="top-bar">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">
        <div class="busqueda"><input class="barra" type="search" placeholder="Buscar productos, marcas y mas"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
        <p class="texto-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
        </div>
    
    <nav>
        
        <ul> 
        <li><a href="Ofertas">Ofertas</a></li>
        <li><a href="Tiendas oficiales">Tiendas oficiales</a></li>
        <li><a href="Vender">Vender</a></li>
        <li><a href="Ayuda">Ayuda</a></li>
        </ul>
        <ul>  
        <li><a href="/register">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
        <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
        <li><a href="Mis compras">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    
    </nav>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    </header>
    <main> 
    <section>
        <h2 class="titulo">Crear cuenta</h2>
        <form action="/">
        <div class="form">
            <label class="dato">Nombre y apellido</label>
            <input type="text" name="nombre-apellido">
        </div>
        <div class="form">
            <label class="dato">Nombre de usuario</label>
            <input type="text" name="username">
        </div>
        <div class="form">
            <label class="dato">Email</label>
            <input type="email" name="email">
        </div>
        <div class="form">
            <label class="dato">Fecha de nacimiento</label>
            <input type="date" name="fecha-nacimiento">
        </div>
        <div class="form">
            <label class="dato">Domicilio</label>
            <input type="text" name="domicilio">
        </div>
        <div class="select">
            <label class="dato">Perfil del usuario</label>
            <label class="opciones">Vendedor</label>
            <input type="radio" name="Perfil" value="vendedor">
            <label class="opciones">Comprador</label>
            <input type="radio" name="Perfil" value="comprador">
        </div>
        <div class="select">
            <label class="dato">Categorias de interes</label>
            <label class="opciones">Electro</label>
            <input type="checkbox" name="Perfil" value="Electro">
            <label class="opciones">Moda</label>
            <input type="checkbox" name="Perfil" value="Moda">
            <label class="opciones">Hogar</label>
            <input type="checkbox" name="Perfil" value="Hogar">
            <label class="opciones">Jugueteria</label>
            <input type="checkbox" name="Perfil" value="Jugueteria">
            <label class="opciones">Vida sana</label>
            <input type="checkbox" name="Perfil" value="vidaSana">
        </div>
        <div class="form">
            <label class="dato">Foto de perfil</label> 
            <input type="file" name="avatar" accept=".jpg">
        </div>
        <div class="form">
            <label class="dato">Contraseña</label> 
            <input type="password" name="contraseña">
        </div>
        <div class="form">
            <label class="dato">Repetir contraseña</label> 
            <input type="password" name="contraseña">
        </div>
        <div>
            <button type="reset">Borrar</button>
            <button type="submit">Crear cuenta</button>
        </div>
    </form>
    </section>
    </main>
    <footer>
        <div class="flexfooter">
            <div class="cajafooter">
            <i class="fa-solid fa-credit-card iconos"></i>
            <p><strong>Pagá con tarjeta o en efectivo</strong></p>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="cajafooter">
            <i class="fa-solid fa-gift iconos"></i>
            <p><strong>Envío gratis desde $ 2.500</strong></p>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="cajafooter">
            <i class="fa-solid fa-user-shield iconos"></i>
            <p><strong>Seguridad, de principio a fin</strong></p>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
        </div>
    </footer>
</body>
</html>