*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;  
    background-color: #ebebeb;
}
header{
    background-color: #EAC926;
    padding: 20px;
}
.top-bar{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 45%;
}
.barra{
    width: 55%;
}
.texto-cuotas{
    text-align: center;
    max-width: 350px;
    font-size: 18px;
    font-weight: 700;
}
nav{
    display: none;
    font-weight: 600;
}
.burger-menu{
    max-width: 45px;
    font-size: 23px;
    background-color: #03264C;
    color: #ebebeb;
    margin: auto;
    display: block;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}
.banner{
    width: 100%;
}
main{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.titulares{
    font-size: 24px;
}
.cajagrande{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.caja{
    width: 90%;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
    padding: 15px;
}
.foto-articulo{
    width: 100%;
}
.cajahija{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-top: solid 2px #ebebeb;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.logo-envio{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.5s;
}
.precios{
    font-size: 18px;
    width: 30%;
}
.descuento{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
}
.descripcion{
    display: none;
    font-size: 16px;
}
footer{
    text-align: center;
}
.iconos{
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
    transition: background-color 0.5s;
}

@media(min-width:768px){
    .caja{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }
    .logo{
        width: 180px;
    }
    .burger-menu{
        display: none;
    }
    .top-bar{
        display: flex;
        justify-content: space-between;
    }
    .barra{
        width: 200px;
    }
    .texto-cuotas{
        font-size: 20px;
        max-width: 280px;
        text-align: right;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav a{
        text-decoration: none;
        color: #222222;
        display: inline-block;
        font-size: 17px;
        padding: 5px 0;
    }
    nav li{
        margin: 0 5px;
    }
    .descripcion{
        display: block;
    }
}

@media(min-width:1200px){
    nav, .top-bar{
        max-width: 1200px;
        margin: auto;
    }
    .logo{
        width: 250px;
    }
    .barra{
        width: 320px;
    }
    .texto-cuotas{
        font-size: 22px;
        max-width: none;
    }
    .top-bar{
        align-items: center;
    }
    .caja{
        width: 20%;
    }
    .caja:hover{
        .cajahija{
        padding-left: 5px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);}
        .descripcion{
            opacity: 1;
        }
        .logo-envio{
            transform: rotate(-360deg);
        }
    }
    .precios{
        width: 45%;
    }
    .descuento{ 
        width: 55%;
    }
    .descripcion{
        opacity: 0;
        transition: all 450ms;
    }
    .flexfooter{
        display: flex;
        justify-content: space-evenly;
        max-width: 1600px;
        margin: auto;
    }
    .cajafooter{
        width: 30%;
    }
    .iconos:hover{
        color: #1259c3;;
    }
}
